.game {
    /* ширина игровой области */
    width: 600px;
    /* высота игровой области */
    height: 200px;
    /* рамка серого цвета и отступы вокруг неё */
    border: 1px solid rgb(122, 122, 122);
    /* автоматические отступы */
    margin: auto;
  }

  #timer {
    position: absolute;
    top: 30px; /* Отступ сверху */
    right: 500px; /* Отступ справа */
    font-size: 40px; /* Размер шрифта */
    color: black; /* Цвет текста */
}

  #dino {
    /* ширина и высота динозаврика */
    width: 50px;
    height: 50px;
    /* путь к изображению динозаврика */
    background-image: url("./img/icons8-kawaii-dinosaur-96.png");
    /* ширина и высота подложки */
    background-size: 50px 50px;
    /* относительное позиционирование */
    position: relative;
    /* отступ сверху */
    top: 150px;
  }
 /* класс анимации прыжка */
.jump {
  animation: jump 0.7s linear;
}

/* 5 ключевых кадров для анимации прыжка */
@keyframes jump {
  0% {
    /* начальная позиция */
    top: 150px;
  }

  30% {
    /* начало прыжка */
    top: 110px;
  }

  50% {
    /* самая высокая точка прыжка */
    top: 60px;
  }

  80% {
    /* начало спуска */
    top: 130px;
  }

  100% {
    /* возврат в начальную позицию */
    top: 150px;
  }
}

  #cactus {
    /* ширина и высота кактуса */
    width: 20px;
    height: 40px;
    /* относительное позиционирование */
    position: relative;
    /* начальное положение кактуса */
    top: 110px;
    left: 580px;
    /* путь к изображению кактуса*/
    background-image: url("img/icons8-кактус-96.png");
    /* ширина и высота подложки */
    background-size: 20px 40px;
    /* анимация перемещения кактуса */
    animation: block 2s infinite linear;
  }
  @keyframes block {
    /* начальная позиция кактуса (справа) */
    0% {
      left: 580px;
    }
    /* конечная позиция кактуса (слева, за пределами экрана) */
    100% {
      left: -20px;
    }
  }